# Ignore binaries
bin

# Ignore DANTON/PUMAS temporary dump.
materials.b

# ignore lib except lib/python/retro.
lib/*
!lib/python
lib/python/*
!lib/python/retro
lib/python/retro/*.pyc

# Ignore topographic and setup data (too large).
share/topography
share/setup

# Ignore generated events.
events-*.json

# Ignore plugins.
plugins
